{{ template "layout_admin.html" . }}
{{ define "css" }}
{{/*    <link rel="stylesheet" href="/static/css/example.css">*/}}
{{ end}}

{{ define "content" }}
<hr>
<div class="row">
    <div class="col py-0 justify-content-md-center">

        <div class="row col-12">
            <div class="col-6 text-left">
                {{ range $key, $value := .searchResultsOf }}
                <span class="">{{ $key }}: </span>
                <span class="text-primary"> <b>{{ $value }};</b> </span>
                {{ end }}
            </div>
            <div class="col-6 text-right">
                <!-- Trigger modal -->
                <p class="text-right">
                    <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true" data-toggle="modal"
                        data-target="#exampleModal">
                        <i class="fas fa-search"></i> Data Filter
                    </a>
                </p>
            </div>
        </div>

        <form method="get">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Data Filter</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <small>Jurnal Company ID</small>
                                <input type="text" class="form-control form-control-sm" placeholder="Company ID"
                                    name="CompanyId" id="CompanyId" {{/*value="{{ .CompanyId }}"*/}}
                                    data-onload="connsOnChange(1)" onchange="connsOnChange(1)">
                            </div>
                            <div class="form-group">
                                <small>Connection ID</small>
                                <input type="text" class="form-control form-control-sm" placeholder="Connection ID"
                                    name="ConnectionId" id="ConnectionId" {{/*value="{{ .ConnectionId }}"*/}}
                                    data-onload="connsOnChange(2)" onchange="connsOnChange(2)">
                            </div>
                            <div class="form-group">
                                <small>Connection Name</small>
                                <input type="text" class="form-control form-control-sm" placeholder="Connection Name"
                                    name="ConnectionName" id="ConnectionName" {{/*value="{{ .ConnectionName }}"*/}}
                                    data-onload="connsOnChange(3)" onchange="connsOnChange(3)">
                            </div>
                            <div class="form-group">
                                <small>Show Deleted</small>
                                <select class="custom-select mr-sm-2 form-control-sm" name="ShowDeleted"
                                    id="ShowDeleted">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <small>Only Show Synchronizing</small>
                                <select class="custom-select
                                        form-control-sm" name="ShowOnlySyncing" id="ShowOnlySyncing"
                                    onclick="onShowOnlySyncing()">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="clearBtn" type="button" class="btn btn-secondary btn-sm">Clear</button>
                            <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0"
                    data-page-length='100'>
                    <thead>
                        <tr class="text-center">
                            <th class="align-middle"><small><b>ConnectionID</b></small></th>
                            <th class="align-middle"><small><b>Connection Name</b></small></th>
                            <th class="align-middle"><small><b>OutletId</b></small></th>
                            <th class="align-middle"><small><b>OutletName</b></small></th>
                            <th class="align-middle"><small><b>Prefix</b></small></th>
                            <th class="align-middle"><small><b>Suffix</b></small></th>
                            <th class="align-middle"><small><b>StartDate</b></small></th>
                            <th class="align-middle"><small><b>Last Updated<br>SyncMaster</b></small></th>
                            <th class="align-middle"><small><b>Last Success<br>SyncMaster</b></small></th>
                            <th class="align-middle"><small><b>Last Updated<br>SyncTransaction</b></small></th>
                            <th class="align-middle"><small><b>Last Success<br>SyncTransaction</b></small></th>
                            <th class="align-middle"><small><b>SyncStatus<br>Master</b></small></th>
                            <th class="align-middle"><small><b>SyncStatus<br>Transaction</b></small></th>
                            <th class="align-middle"><small><b>IsDailySync?</b></small></th>
                            <th class="align-middle"><small><b>DailySyncTime</b></small></th>
                            <th class="align-middle"><small><b>IsSyncTransaction<br>ByProductName?</b></small></th>
                            <th class="align-middle"><small><b>IsTrackInventory?</b></small></th>
                            <th class="align-middle"><small><b>IsPaymentMethod<br>Version-2 ?</b></small></th>
                            <th class="align-middle"><small><b>CreatedAt</b></small></th>
                            <th class="align-middle"><small><b>UpdatedAt</b></small></th>
                            <th class="align-middle"><small><b>DeletedAt</b></small></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $val := .conns }}
                        <tr class="text-center" style="white-space: nowrap;">
                            <td>
                                <small>
                                    <a href="/connection/{{$val.ID}}/view" data-toggle="tooltip" data-placement="bottom"
                                        data-html="true" title="view detail">{{$val.ID}}</a>
                                    <a href="/log?ConnectionId={{$val.ID}}" data-toggle="tooltip" data-placement="right"
                                        class="m-2" data-html="true" title="view logs">
                                        <i class="far fa-list-alt"></i>
                                    </a>
                                </small>
                            </td>
                            <td><small>{{$val.Name}}</small></td>
                            <td><small>{{$val.OutletId}}</small></td>
                            <td><small>{{$val.OutletName}}</small></td>
                            <td><small>{{$val.Prefix}}</small></td>
                            <td><small>{{$val.Suffix}}</small></td>
                            <td><small>{{$val.StartDate}}</small></td>
                            <td><small>{{$val.LastUpdatedSyncMaster}}</small></td>
                            <td><small>{{$val.LastSuccessSyncMaster}}</small></td>
                            <td><small>{{$val.LastUpdatedSyncTransaction}}</small></td>
                            <td><small>{{$val.LastSuccessSyncTransaction}}</small></td>

                            {{if eq $val.SyncStatusMaster 0}}
                            <td><small>No</small></td>
                            {{else}}
                            <td data-toggle="tooltip" data-placement="bottom" data-html="true"
                                title="Master is syncing ...">
                                <img src="/static/gif/the-flash-running.gif" width="30px">
                            </td>
                            {{end}}

                            {{if eq $val.SyncStatusTransaction 0}}
                            <td><small>No</small></td>
                            {{else}}
                            <td data-toggle="tooltip" data-placement="bottom" data-html="true"
                                title="Transaction is syncing ...">
                                <img src="/static/gif/the-flash-running.gif" width="30px">
                            </td>
                            {{end}}

                            {{if eq $val.IsDailySync 0}}
                            <td><small class="text-danger"><b>No</b></small></td>
                            {{else}}
                            <td><small>Yes</small></td>
                            {{end}}

                            <td><small>{{$val.DailySyncTime}}</small></td>

                            {{if eq $val.SyncTrnByProductName 0}}
                            <td><small class="text-danger"><b>No</b></small></td>
                            {{else}}
                            <td><small>Yes</small></td>
                            {{end}}

                            {{if eq $val.IsTrackInventory 0}}
                            <td><small class="text-danger"><b>No</b></small></td>
                            {{else}}
                            <td><small>Yes</small></td>
                            {{end}}

                            {{if eq $val.PaymentMethodV2 ""}}
                            <td><small class="text-danger"><b>No</b></small></td>
                            {{else}}
                            <td><small>Yes</small></td>
                            {{end}}

                            <td><small>{{$val.CreatedAt}}</small></td>
                            <td><small>{{$val.UpdatedAt}}</small></td>
                            <td><small>{{$val.DeletedAt}}</small></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    /*document.getElementById("ShowDeleted").selectedIndex = {{ .ShowDeleted }};
    document.getElementById("ShowOnlySyncing").selectedIndex = {{ .ShowOnlySyncing }};*/

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $("#clearBtn").click(function () {
        customReset()
    });

    function customReset() {
        document.getElementById("CompanyId").value = "";
        document.getElementById("ConnectionId").value = "";
        document.getElementById("ConnectionName").value = "";
        document.getElementById("ShowDeleted").selectedIndex = 0;
        document.getElementById("ShowOnlySyncing").selectedIndex = 0;
        $("#CompanyId").prop('readonly', false);
        $("#ConnectionId").prop('readonly', false);
        $("#ConnectionName").prop('readonly', false);
        $("#ShowDeleted").css('pointer-events', 'auto');
        $('#ShowDeleted').css('background', '#fff');
        $('#ShowOnlySyncing').css('pointer-events', 'auto');
        $('#ShowOnlySyncing').css('background', '#fff');
    }

    function connsOnChange(str) {
        switch (str) {
            case 1:
                var CompanyId = document.getElementById("CompanyId").value;
                customReset()
                document.getElementById("CompanyId").value = CompanyId;
                $('#ConnectionId').prop('readonly', true);
                $('#ConnectionName').prop('readonly', true);
                $('#ShowOnlySyncing').css('pointer-events', 'none');
                $('#ShowOnlySyncing').css('background', '#e9ecef');
                break
            case 2:
                var ConnectionId = document.getElementById("ConnectionId").value;
                customReset()
                document.getElementById("ConnectionId").value = ConnectionId;
                $('#CompanyId').prop('readonly', true);
                $('#ConnectionName').prop('readonly', true);
                $('#ShowOnlySyncing').css('pointer-events', 'none');
                $('#ShowOnlySyncing').css('background', '#e9ecef');
                break
            case 3:
                var ConnectionName = document.getElementById("ConnectionName").value;
                customReset()
                document.getElementById("ConnectionName").value = ConnectionName;
                $('#CompanyId').prop('readonly', true);
                $('#ConnectionId').prop('readonly', true);
                $('#ShowOnlySyncing').css('pointer-events', 'none');
                $('#ShowOnlySyncing').css('background', '#e9ecef');
                break
        }
    }

    function onShowOnlySyncing() {
        var ShowOnlySyncing = document.getElementById("ShowOnlySyncing").selectedIndex;
        customReset()
        document.getElementById("ShowOnlySyncing").selectedIndex = ShowOnlySyncing;
        $('#CompanyId').prop('readonly', true);
        $('#ConnectionId').prop('readonly', true);
        $('#ConnectionName').prop('readonly', true);
        $('#ShowDeleted').css('pointer-events', 'none');
        $('#ShowDeleted').css('background', '#e9ecef');
    }

</script>

{{ end }}

{{ define "js" }}
{{/*    <script src="/static/js/example.js"></script>*/}}
{{ end}}