{{ template "layout_admin.html" . }}
{{ define "css" }}
{{/*    <link rel="stylesheet" href="/static/css/example.css">*/}}
{{ end}}

{{ define "content" }}

{{/*<div class="row">*/}}
{{/*    <div class="col py-2 justify-content-md-center">*/}}
{{/*    </div>*/}}
{{/*</div>*/}}

<div class="row">
    <div class="table-responsive">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="connection-tab" data-toggle="tab" href="#connection" role="tab"
                            aria-controls="connection" aria-selected="true">Connection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="jurnalUser-tab" data-toggle="tab" href="#jurnalUser" role="tab"
                            aria-controls="jurnalUser" aria-selected="false">Jurnal User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mokaAccount-tab" data-toggle="tab" href="#mokaAccount" role="tab"
                            aria-controls="mokaAccount" aria-selected="false">Moka Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="urnalCompany-tab" data-toggle="tab" href="#jurnalCompany" role="tab"
                            aria-controls="mokaAccount" aria-selected="false">Jurnal Company</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="connection" role="tabpanel"
                        aria-labelledby="connection-tab">
                        <br>
                        {{ range $key, $value := .connectionDetail }}
                        <div class="row mt-2">
                            <div class="col-3 text-sm-right">
                                <p class="text-sm-right text-muted">{{ $key }}</span>
                            </div>
                            <div class="col-9">
                                <p class="text-sm-left">{{ $value }}</span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="tab-pane fade" id="jurnalUser" role="tabpanel" aria-labelledby="jurnalUser-tab">
                        <br>
                        <table class="table table-hover table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col"><small><b>Email</b></small></th>
                                    <th scope="col"><small><b>AccessToken</b></small></th>
                                    <th scope="col"><small><b>Frontend</b></small></th>
                                    <th scope="col"><small><b>CreatedAt</b></small></th>
                                    <th scope="col"><small><b>UpdatedAt</b></small></th>
                                    <th scope="col"><small><b>DeletedAt</b></small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ $BaseURLNewFe := .BaseURLNewFe }}
                                {{ $BaseURLOldFe := .BaseURLOldFe }}
                                {{ range $ju := .jurnalUsers }}
                                <tr class="text-center">
                                    <td><small>{{$ju.Email}}</small></td>
                                    <td><small>{{$ju.AccessToken}}</small></td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group"
                                            aria-label="Button group with nested dropdown">
                                            <a type="button"
                                                href="{{$BaseURLNewFe}}/?access_token={{$ju.AccessToken}}&locale=en"
                                                class="btn btn-success" target="_blank">
                                                New-FE
                                            </a>
                                            <a type="button"
                                                href="{{$BaseURLOldFe}}/settings?access_token={{$ju.AccessToken}}&locale=en"
                                                class="btn btn-secondary" target="_blank">
                                                Old-FE
                                            </a>
                                        </div>
                                    </td>
                                    <td><small>{{$ju.CreatedAt}}</small></td>
                                    <td><small>{{$ju.UpdatedAt}}</small></td>
                                    <td><small>{{$ju.DeletedAt}}</small></td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="mokaAccount" role="tabpanel" aria-labelledby="mokaAccount-tab">
                        <br>
                        {{ range $key, $value := .mokaAccount }}
                        <div class="row mt-2">
                            <div class="col-3 text-right">
                                <span class="text-right text-muted">{{ $key }}</span>
                            </div>
                            <div class="col-9">
                                <span class="text-right">{{ $value }}</span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="tab-pane fade" id="jurnalCompany" role="tabpanel" aria-labelledby="jurnalCompany-tab">
                        <br>
                        {{ range $keyjc, $valuejc := .jurnalCompany }}
                        <div class="row mt-2">
                            <div class="col-3 text-right">
                                <span class="text-right text-muted">{{ $keyjc }}</span>
                            </div>
                            <div class="col-9">
                                <span class="text-right">{{ $valuejc }}</span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>

{{ end }}

{{ define "js" }}
{{/*    <script src="/static/js/example.js"></script>*/}}
{{ end}}